{% from 'macros/components.jinja' import text_field, btn, alert %}

{% extends "layouts/layout.jinja" %}

{% block title %}Index{% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}
<main class="flex items-center justify-center h-screen">
	<div class="flex flex-col gap-y-2 p-4 bg-yellow-500 border border-indigo-500 rounded-md shadow-lg text-white basis-1/3">
		<h1 class="text-3xl font-bold">Admin Login</h1>
		<hr class="border border-white">
		<form action="/admins/login" method="POST" class="flex flex-col gap-y-2 items-end">
			{{ text_field('country_code', 'Country Code', placeholder='62', required=True) }}
			{{ text_field('phone', 'Phone', placeholder='777888999',required=True) }}

			{% for category, messages in flashed_messages.items()  %}
                {% for message in messages %}
                    {{ alert(message, type=category) }}
                {% endfor %}
            {% endfor %}
			
			{{ btn('Login') }}
		</form>
	</div>
</main>
{% endblock %}

{% block footer %}{% endblock %}<!-- blank footer on this page -->
