<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/output.css')}}"
		/>
</head>
<title>{% block title %}{% endblock %} - Jaga Aksara</title>
	{% endblock %}
</head>

<body>
	<header id="header">
		{% block header %}{% endblock %} 
	</header> 

	<main id="content">{% block content %}{% endblock %}</main>

	<footer id="footer">
		{% block footer %} &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>. {% endblock %} 
	</footer> 

</body>

</html>